images/
tiny-imagenet-200/
*.env
server/.env
*.h5
.ipynb_checkpoints
.cadence
.codebuddy
/app.py
/installer.ps1
/model.py
/notebook.ipynb
server/server/.env

server/server/__pycache__/**/*
server/server/__pycache__
**/__pycache__/