/* .card {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  } */

  .header {
    height: rem(60px);
    padding-top: var(--mantine-spacing-md);
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    padding-bottom: calc(1.5rem * var(--mantine-scale));
    justify-content: flex-end;
  }
  
  
  
  .link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
  
    @media (max-width: mantine-breakpoint-sm) {
      height: rem(42px);
      width: 100%;
    }
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
  }

  .section {
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);
  }
  
  .like {
    color: var(--mantine-color-red-6);
    width: rem(20px);
    height: rem(20px);
  }
  
  .label {
    text-transform: uppercase;
    font-size: var(--mantine-font-size-xs);
    font-weight: 700;
  }

  .m_e615b15f {
    --card-padding: var(--mantine-spacing-md);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: var(--card-padding);
    color: var(--mantine-color-text);
  }

  .card {
    transition:
      transform 150ms ease,
      box-shadow 150ms ease;
  
    &:hover {
      transform: scale(1.01);
      box-shadow: var(--mantine-shadow-md);
    }
  }
  
  .title {
    font-family: 'Greycliff CF', var(--mantine-font-family);
    font-weight: bold;
  }